.program {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.programImg {
  display: flex;
  justify-content: center;

  align-items: flex-start;

}

.programImg > img {
  width: 25px;
  height: 25px;
}

.header > div {
  display: flex;
  gap: 5px;
}

.header h3 {
  margin: 0;
}

.overview {
  display: flex;
  flex-direction: column;
  
}

.overview > span {
  color: #515355;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 24px;
}

.itinerary {
  margin-top: 25px;
}

.week {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}

.day > span {
  color: #515355;
  font-size: 14px;
  line-height: 24px;
}
