body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F7F7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


img {
  width: 20px;
  object-fit: cover;
}


h3 {
  margin: 0;
}
.selected {
  border: 1px solid #02BF9B;
  color: #02BF9B;
  cursor: pointer;
  flex: 1;
  position: relative;
  z-index: 9;
  text-align: center;
  background: 0 0;
  padding: 4px 3px 3px;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 125%;
}
 


.radio{
  position: absolute;
  top: 35px;
  left: 10px;
}
.packSel{
  background-color: #0bbd9c41;
  padding: 20px 35px;
  transition: all 500 ms ease;
  position: relative;
}