.pricing{
    margin-top: 20px;
}
.pricing > h5 {
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #515355;
    font-weight: 600;
    display: block;
}
.text_div{
    display: flex;

}
.text_div > span{
    color: #ABAEB1;
    padding-top: 2px;
}
.text_div > b{
    font-size: 25px;
}
.date{
    padding-top: 25px;
   
}
.global_btns{
    padding: 15px 12px;
    
}
.send{
    cursor: pointer;
    text-align: center;
    line-height: 200%;
    background: #02BF9B;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 8px 16px 7px 16px; 
    border-radius: 6px;
    margin-bottom: 7px;
    transition: all 500 ms ease;
}
.book{
    cursor: pointer;
    text-align: center;
    line-height: 150%;
    background: white;
    font-size: 18px;
    font-weight: 500;
    color: #02BF9B;
    padding: 4px 16px 3px 16px; 
    border-radius: 6px;
    border: solid  1px #02BF9B;
    transition: all 500 ms ease;
}
.book:hover{
    background-color: #119179;
    color: white;
}
.send:hover{
    background-color: #119179;
}